.hero {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;
    position: relative; 

    .Wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        .textContainer{
            height: 100%;
            width: 50%;
            display: flex;
            margin-left: 178px;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            h2{
                font-size: 48px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }
            h1{
                font-size: 88px;
                color: white;

            }
            .buttons{
                button{
                padding: 20px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                margin-right: 20px;
                cursor: pointer;
                }
            }
            img{
                width: 50px;
            }
        }

    }

     .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        
        img {
            width: 100%; 
            height: 100%; 
           
        }
    }
}
