.hero {
    height: calc(100vh - 100px);
    background-color: #0c0c1d;
    overflow: hidden;
    position: relative; 

    .Wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .textContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            margin-left: 178px;

            h2 {
                font-size: 48px;
                color: orange;
                letter-spacing: 10px;
                
            }

            h1 {
                font-size: 88px;
                color: white;
            }

            .buttons {
                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer;
                }
            }

            img {
                width: 50px;
            }
        }

        .imageContainer {
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;

            img {
                width: 100%; 
                height: 100%; 
            }
        }
    }

    @media (max-width: 768px) {
        .Wrapper {
            flex-direction: column;
            text-align: center;
            margin: 0;

            .textContainer {
                width: 100%;
                margin-left: 0;
                // margin-top: 40px;
                h2 {
                    font-size: 32px;
                    margin-top: 60px;
                }
                h1 {
                    font-size: 48px;
                }
                .buttons {
                    display: flex;
                        flex-direction: row;
                    button {
                        padding: 15px;
                        font-size: 16px;
                        
                        margin: 10px;
                        

                        
                    }
                }
            }

            .imageContainer {
                position: static;
                width: 70%;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
