.skills-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    max-width: 1066px;
  
    .skill-card {
      width: 150px;
      height: 150px;
      backdrop-filter: blur(20px);
      background: hwb(80 94% 5% / 0.1);
      border-radius: 50%;
      box-shadow: 0 8px 32px rgba(24, 32, 147, 0.37);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 2px solid rgba(225, 212, 212, 0.18);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 50px rgba(31, 38, 135, 0.37);
        cursor: pointer;
      }
  
      .icon {
        font-size: 3rem;
        margin-bottom: 10px;
        color: #fff;
      }
  
      .name {
        font-size: 1.2rem;
        color: #fff;
        font-weight: 600;
      }
    }
  }
  
  .parallax {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #0c0c1d;
  }
  .tools{
    margin-top: 40px;
    h2{
        font-size: 70px;
        color: white  ;
        font-family: cursive;
    }
  }