// Variables
$primary-color: #fff; 


.navbar {
  
  max-width: 1366px;
 margin-left: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
 
  

  

  .logo {
    font-size: 1.5rem;
    font-weight: bolder;
    
    
  }

  .nav-links {
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      

      li {
        margin-left: 2rem;

        a {
          text-decoration: none;
          color: $primary-color;
          font-size: 1rem;
          transition: color 0.3s ease;
          font-size: large;
          
          font-weight: bold;
          padding: 16px;

          &:hover {
            color: #ccc; 
          }
        }
      }
    }
  }
}
